body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .footer {
    margin-top: 20px;
  }

  #app { // Assuming #app is the main container of your Vue app
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
  }

  .custom-button {
    width: 200px;
    padding: 0.375rem 0.75rem;
    background-color: #96785D;
    border-color: #96785D;
    color: white;
  }
  
  .custom-button:hover {
    background-color: #6c757d;
    // border-color: #004089;
  }
  